/*
YugabyteDB Anywhere APIs

ALPHA - NOT FOR EXTERNAL USE

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ywclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// AsynchronousReplicationAPIService AsynchronousReplicationAPI service
type AsynchronousReplicationAPIService service

type AsynchronousReplicationAPICreateXClusterConfigRequest struct {
	ctx                               context.Context
	ApiService                        *AsynchronousReplicationAPIService
	cUUID                             string
	xclusterReplicationCreateFormData *XClusterConfigCreateFormData
	request                           *interface{}
}

// XCluster Replication Create Form Data
func (r AsynchronousReplicationAPICreateXClusterConfigRequest) XclusterReplicationCreateFormData(xclusterReplicationCreateFormData XClusterConfigCreateFormData) AsynchronousReplicationAPICreateXClusterConfigRequest {
	r.xclusterReplicationCreateFormData = &xclusterReplicationCreateFormData
	return r
}

func (r AsynchronousReplicationAPICreateXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPICreateXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPICreateXClusterConfigRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.CreateXClusterConfigExecute(r)
}

/*
CreateXClusterConfig Create xcluster config

Available since YBA version 2.16.0.0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@return AsynchronousReplicationAPICreateXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) CreateXClusterConfig(ctx context.Context, cUUID string) AsynchronousReplicationAPICreateXClusterConfigRequest {
	return AsynchronousReplicationAPICreateXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *AsynchronousReplicationAPIService) CreateXClusterConfigExecute(r AsynchronousReplicationAPICreateXClusterConfigRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.CreateXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xclusterReplicationCreateFormData == nil {
		return localVarReturnValue, nil, reportError("xclusterReplicationCreateFormData is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.xclusterReplicationCreateFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPIDeleteXClusterConfigRequest struct {
	ctx           context.Context
	ApiService    *AsynchronousReplicationAPIService
	cUUID         string
	xccUUID       string
	isForceDelete *bool
	request       *interface{}
}

func (r AsynchronousReplicationAPIDeleteXClusterConfigRequest) IsForceDelete(isForceDelete bool) AsynchronousReplicationAPIDeleteXClusterConfigRequest {
	r.isForceDelete = &isForceDelete
	return r
}

func (r AsynchronousReplicationAPIDeleteXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPIDeleteXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPIDeleteXClusterConfigRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.DeleteXClusterConfigExecute(r)
}

/*
DeleteXClusterConfig Delete xcluster config

Available since YBA version 2.16.0.0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPIDeleteXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) DeleteXClusterConfig(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPIDeleteXClusterConfigRequest {
	return AsynchronousReplicationAPIDeleteXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *AsynchronousReplicationAPIService) DeleteXClusterConfigExecute(r AsynchronousReplicationAPIDeleteXClusterConfigRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.DeleteXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isForceDelete != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", r.isForceDelete, "", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", defaultValue, "", "")
		r.isForceDelete = &defaultValue
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPIEditXClusterConfigRequest struct {
	ctx                             context.Context
	ApiService                      *AsynchronousReplicationAPIService
	cUUID                           string
	xccUUID                         string
	xclusterReplicationEditFormData *XClusterConfigEditFormData
	request                         *interface{}
}

// XCluster Replication Edit Form Data
func (r AsynchronousReplicationAPIEditXClusterConfigRequest) XclusterReplicationEditFormData(xclusterReplicationEditFormData XClusterConfigEditFormData) AsynchronousReplicationAPIEditXClusterConfigRequest {
	r.xclusterReplicationEditFormData = &xclusterReplicationEditFormData
	return r
}

func (r AsynchronousReplicationAPIEditXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPIEditXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPIEditXClusterConfigRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.EditXClusterConfigExecute(r)
}

/*
EditXClusterConfig Edit xcluster config

Available since YBA version 2.16.0.0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPIEditXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) EditXClusterConfig(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPIEditXClusterConfigRequest {
	return AsynchronousReplicationAPIEditXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *AsynchronousReplicationAPIService) EditXClusterConfigExecute(r AsynchronousReplicationAPIEditXClusterConfigRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.EditXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xclusterReplicationEditFormData == nil {
		return localVarReturnValue, nil, reportError("xclusterReplicationEditFormData is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.xclusterReplicationEditFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPIGetXClusterConfigRequest struct {
	ctx        context.Context
	ApiService *AsynchronousReplicationAPIService
	cUUID      string
	xccUUID    string
	syncWithDB *bool
}

func (r AsynchronousReplicationAPIGetXClusterConfigRequest) SyncWithDB(syncWithDB bool) AsynchronousReplicationAPIGetXClusterConfigRequest {
	r.syncWithDB = &syncWithDB
	return r
}

func (r AsynchronousReplicationAPIGetXClusterConfigRequest) Execute() (*XClusterConfigGetResp, *http.Response, error) {
	return r.ApiService.GetXClusterConfigExecute(r)
}

/*
GetXClusterConfig Get xcluster config

Available since YBA version 2.16.0.0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPIGetXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) GetXClusterConfig(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPIGetXClusterConfigRequest {
	return AsynchronousReplicationAPIGetXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return XClusterConfigGetResp
func (a *AsynchronousReplicationAPIService) GetXClusterConfigExecute(r AsynchronousReplicationAPIGetXClusterConfigRequest) (*XClusterConfigGetResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *XClusterConfigGetResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.GetXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.syncWithDB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "syncWithDB", r.syncWithDB, "", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "syncWithDB", defaultValue, "", "")
		r.syncWithDB = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPINeedBootstrapTableRequest struct {
	ctx                           context.Context
	ApiService                    *AsynchronousReplicationAPIService
	cUUID                         string
	uniUUID                       string
	xclusterNeedBootstrapFormData *XClusterConfigNeedBootstrapFormData
	configType                    *string
	includeDetails                *bool
	request                       *interface{}
}

// XCluster Need Bootstrap Form Data
func (r AsynchronousReplicationAPINeedBootstrapTableRequest) XclusterNeedBootstrapFormData(xclusterNeedBootstrapFormData XClusterConfigNeedBootstrapFormData) AsynchronousReplicationAPINeedBootstrapTableRequest {
	r.xclusterNeedBootstrapFormData = &xclusterNeedBootstrapFormData
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapTableRequest) ConfigType(configType string) AsynchronousReplicationAPINeedBootstrapTableRequest {
	r.configType = &configType
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapTableRequest) IncludeDetails(includeDetails bool) AsynchronousReplicationAPINeedBootstrapTableRequest {
	r.includeDetails = &includeDetails
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapTableRequest) Request(request interface{}) AsynchronousReplicationAPINeedBootstrapTableRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapTableRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.NeedBootstrapTableExecute(r)
}

/*
NeedBootstrapTable Whether tables need bootstrap before setting up cross cluster replication

WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param uniUUID
	@return AsynchronousReplicationAPINeedBootstrapTableRequest
*/
func (a *AsynchronousReplicationAPIService) NeedBootstrapTable(ctx context.Context, cUUID string, uniUUID string) AsynchronousReplicationAPINeedBootstrapTableRequest {
	return AsynchronousReplicationAPINeedBootstrapTableRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *AsynchronousReplicationAPIService) NeedBootstrapTableExecute(r AsynchronousReplicationAPINeedBootstrapTableRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.NeedBootstrapTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/universes/{uniUUID}/need_bootstrap"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xclusterNeedBootstrapFormData == nil {
		return localVarReturnValue, nil, reportError("xclusterNeedBootstrapFormData is required and must be specified")
	}

	if r.configType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "configType", r.configType, "", "")
	} else {
	}
	if r.includeDetails != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeDetails", r.includeDetails, "", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeDetails", defaultValue, "", "")
		r.includeDetails = &defaultValue
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.xclusterNeedBootstrapFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest struct {
	ctx                           context.Context
	ApiService                    *AsynchronousReplicationAPIService
	cUUID                         string
	xccUUID                       string
	xclusterNeedBootstrapFormData *XClusterConfigNeedBootstrapFormData
	request                       *interface{}
}

// XCluster Need Bootstrap Form Data
func (r AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest) XclusterNeedBootstrapFormData(xclusterNeedBootstrapFormData XClusterConfigNeedBootstrapFormData) AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest {
	r.xclusterNeedBootstrapFormData = &xclusterNeedBootstrapFormData
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest) Execute() (map[string]map[string]interface{}, *http.Response, error) {
	return r.ApiService.NeedBootstrapXClusterConfigExecute(r)
}

/*
NeedBootstrapXClusterConfig Whether tables in an xCluster replication config have fallen far behind and need bootstrap

YbaApi Internal.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) NeedBootstrapXClusterConfig(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest {
	return AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return map[string]map[string]interface{}
func (a *AsynchronousReplicationAPIService) NeedBootstrapXClusterConfigExecute(r AsynchronousReplicationAPINeedBootstrapXClusterConfigRequest) (map[string]map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.NeedBootstrapXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}/need_bootstrap"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xclusterNeedBootstrapFormData == nil {
		return localVarReturnValue, nil, reportError("xclusterNeedBootstrapFormData is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.xclusterNeedBootstrapFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPIRestartXClusterConfigRequest struct {
	ctx                                context.Context
	ApiService                         *AsynchronousReplicationAPIService
	cUUID                              string
	xccUUID                            string
	xclusterReplicationRestartFormData *XClusterConfigRestartFormData
	isForceDelete                      *bool
	request                            *interface{}
}

// XCluster Replication Restart Form Data
func (r AsynchronousReplicationAPIRestartXClusterConfigRequest) XclusterReplicationRestartFormData(xclusterReplicationRestartFormData XClusterConfigRestartFormData) AsynchronousReplicationAPIRestartXClusterConfigRequest {
	r.xclusterReplicationRestartFormData = &xclusterReplicationRestartFormData
	return r
}

func (r AsynchronousReplicationAPIRestartXClusterConfigRequest) IsForceDelete(isForceDelete bool) AsynchronousReplicationAPIRestartXClusterConfigRequest {
	r.isForceDelete = &isForceDelete
	return r
}

func (r AsynchronousReplicationAPIRestartXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPIRestartXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPIRestartXClusterConfigRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.RestartXClusterConfigExecute(r)
}

/*
RestartXClusterConfig Restart xcluster config

Available since YBA version 2.16.0.0.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPIRestartXClusterConfigRequest
*/
func (a *AsynchronousReplicationAPIService) RestartXClusterConfig(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPIRestartXClusterConfigRequest {
	return AsynchronousReplicationAPIRestartXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *AsynchronousReplicationAPIService) RestartXClusterConfigExecute(r AsynchronousReplicationAPIRestartXClusterConfigRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.RestartXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xclusterReplicationRestartFormData == nil {
		return localVarReturnValue, nil, reportError("xclusterReplicationRestartFormData is required and must be specified")
	}

	if r.isForceDelete != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", r.isForceDelete, "", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", defaultValue, "", "")
		r.isForceDelete = &defaultValue
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.xclusterReplicationRestartFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPISyncXClusterConfigRequest struct {
	ctx                context.Context
	ApiService         *AsynchronousReplicationAPIService
	cUUID              string
	targetUniverseUUID *string
	request            *interface{}
}

func (r AsynchronousReplicationAPISyncXClusterConfigRequest) TargetUniverseUUID(targetUniverseUUID string) AsynchronousReplicationAPISyncXClusterConfigRequest {
	r.targetUniverseUUID = &targetUniverseUUID
	return r
}

func (r AsynchronousReplicationAPISyncXClusterConfigRequest) Request(request interface{}) AsynchronousReplicationAPISyncXClusterConfigRequest {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPISyncXClusterConfigRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.SyncXClusterConfigExecute(r)
}

/*
SyncXClusterConfig Sync xcluster config - deprecated

<b style="color:#ff0000">Deprecated since YBA version 2.23.0.0.</b></p> Sync xcluster config (V2) instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@return AsynchronousReplicationAPISyncXClusterConfigRequest

Deprecated
*/
func (a *AsynchronousReplicationAPIService) SyncXClusterConfig(ctx context.Context, cUUID string) AsynchronousReplicationAPISyncXClusterConfigRequest {
	return AsynchronousReplicationAPISyncXClusterConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
//
// Deprecated
func (a *AsynchronousReplicationAPIService) SyncXClusterConfigExecute(r AsynchronousReplicationAPISyncXClusterConfigRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.SyncXClusterConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.targetUniverseUUID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "targetUniverseUUID", r.targetUniverseUUID, "", "")
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AsynchronousReplicationAPISyncXClusterConfigV2Request struct {
	ctx        context.Context
	ApiService *AsynchronousReplicationAPIService
	cUUID      string
	xccUUID    string
	request    *interface{}
}

func (r AsynchronousReplicationAPISyncXClusterConfigV2Request) Request(request interface{}) AsynchronousReplicationAPISyncXClusterConfigV2Request {
	r.request = &request
	return r
}

func (r AsynchronousReplicationAPISyncXClusterConfigV2Request) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.SyncXClusterConfigV2Execute(r)
}

/*
SyncXClusterConfigV2 Sync xcluster config (V2)

Available since YBA version 2.23.0.0

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param xccUUID
	@return AsynchronousReplicationAPISyncXClusterConfigV2Request
*/
func (a *AsynchronousReplicationAPIService) SyncXClusterConfigV2(ctx context.Context, cUUID string, xccUUID string) AsynchronousReplicationAPISyncXClusterConfigV2Request {
	return AsynchronousReplicationAPISyncXClusterConfigV2Request{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		xccUUID:    xccUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *AsynchronousReplicationAPIService) SyncXClusterConfigV2Execute(r AsynchronousReplicationAPISyncXClusterConfigV2Request) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AsynchronousReplicationAPIService.SyncXClusterConfigV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/xcluster_configs/{xccUUID}/sync"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"xccUUID"+"}", url.PathEscape(parameterValueToString(r.xccUUID, "xccUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
