/*
YugabyteDB Anywhere APIs

ALPHA - NOT FOR EXTERNAL USE

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ywclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// LDAPRoleManagementAPIService LDAPRoleManagementAPI service
type LDAPRoleManagementAPIService service

type LDAPRoleManagementAPISyncLdapUniverseRequest struct {
	ctx              context.Context
	ApiService       *LDAPRoleManagementAPIService
	cUUID            string
	univUUID         string
	syncLdapUniverse *LdapUnivSyncFormData
	request          *interface{}
}

// config to sync universe roles with ldap users
func (r LDAPRoleManagementAPISyncLdapUniverseRequest) SyncLdapUniverse(syncLdapUniverse LdapUnivSyncFormData) LDAPRoleManagementAPISyncLdapUniverseRequest {
	r.syncLdapUniverse = &syncLdapUniverse
	return r
}

func (r LDAPRoleManagementAPISyncLdapUniverseRequest) Request(request interface{}) LDAPRoleManagementAPISyncLdapUniverseRequest {
	r.request = &request
	return r
}

func (r LDAPRoleManagementAPISyncLdapUniverseRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.SyncLdapUniverseExecute(r)
}

/*
SyncLdapUniverse Perform an LDAP users sync on the universe

WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID
	@param univUUID
	@return LDAPRoleManagementAPISyncLdapUniverseRequest
*/
func (a *LDAPRoleManagementAPIService) SyncLdapUniverse(ctx context.Context, cUUID string, univUUID string) LDAPRoleManagementAPISyncLdapUniverseRequest {
	return LDAPRoleManagementAPISyncLdapUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		univUUID:   univUUID,
	}
}

// Execute executes the request
//
//	@return YBPTask
func (a *LDAPRoleManagementAPIService) SyncLdapUniverseExecute(r LDAPRoleManagementAPISyncLdapUniverseRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LDAPRoleManagementAPIService.SyncLdapUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/universes/{univUUID}/ldap_roles_sync"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"univUUID"+"}", url.PathEscape(parameterValueToString(r.univUUID, "univUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.syncLdapUniverse == nil {
		return localVarReturnValue, nil, reportError("syncLdapUniverse is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.syncLdapUniverse
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
