/*
YugabyteDB Anywhere APIs

ALPHA - NOT FOR EXTERNAL USE

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ywclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// GFlagsValidationAPIsAPIService GFlagsValidationAPIsAPI service
type GFlagsValidationAPIsAPIService service

type GFlagsValidationAPIsAPIGetGFlagMetadataRequest struct {
	ctx        context.Context
	ApiService *GFlagsValidationAPIsAPIService
	version    string
	name       *string
	server     *string
}

func (r GFlagsValidationAPIsAPIGetGFlagMetadataRequest) Name(name string) GFlagsValidationAPIsAPIGetGFlagMetadataRequest {
	r.name = &name
	return r
}

func (r GFlagsValidationAPIsAPIGetGFlagMetadataRequest) Server(server string) GFlagsValidationAPIsAPIGetGFlagMetadataRequest {
	r.server = &server
	return r
}

func (r GFlagsValidationAPIsAPIGetGFlagMetadataRequest) Execute() (*GFlagDetails, *http.Response, error) {
	return r.ApiService.GetGFlagMetadataExecute(r)
}

/*
GetGFlagMetadata Get gflag metadata

WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param version
	@return GFlagsValidationAPIsAPIGetGFlagMetadataRequest
*/
func (a *GFlagsValidationAPIsAPIService) GetGFlagMetadata(ctx context.Context, version string) GFlagsValidationAPIsAPIGetGFlagMetadataRequest {
	return GFlagsValidationAPIsAPIGetGFlagMetadataRequest{
		ApiService: a,
		ctx:        ctx,
		version:    version,
	}
}

// Execute executes the request
//
//	@return GFlagDetails
func (a *GFlagsValidationAPIsAPIService) GetGFlagMetadataExecute(r GFlagsValidationAPIsAPIGetGFlagMetadataRequest) (*GFlagDetails, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GFlagDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GFlagsValidationAPIsAPIService.GetGFlagMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metadata/version/{version}/gflag"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "", "")
	}
	if r.server != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server", r.server, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GFlagsValidationAPIsAPIListGFlagsRequest struct {
	ctx              context.Context
	ApiService       *GFlagsValidationAPIsAPIService
	version          string
	name             *string
	server           *string
	mostUsedGFlags   *bool
	showExperimental *bool
}

func (r GFlagsValidationAPIsAPIListGFlagsRequest) Name(name string) GFlagsValidationAPIsAPIListGFlagsRequest {
	r.name = &name
	return r
}

func (r GFlagsValidationAPIsAPIListGFlagsRequest) Server(server string) GFlagsValidationAPIsAPIListGFlagsRequest {
	r.server = &server
	return r
}

func (r GFlagsValidationAPIsAPIListGFlagsRequest) MostUsedGFlags(mostUsedGFlags bool) GFlagsValidationAPIsAPIListGFlagsRequest {
	r.mostUsedGFlags = &mostUsedGFlags
	return r
}

func (r GFlagsValidationAPIsAPIListGFlagsRequest) ShowExperimental(showExperimental bool) GFlagsValidationAPIsAPIListGFlagsRequest {
	r.showExperimental = &showExperimental
	return r
}

func (r GFlagsValidationAPIsAPIListGFlagsRequest) Execute() ([]GFlagDetails, *http.Response, error) {
	return r.ApiService.ListGFlagsExecute(r)
}

/*
ListGFlags List all gflags for a release

WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param version
	@return GFlagsValidationAPIsAPIListGFlagsRequest
*/
func (a *GFlagsValidationAPIsAPIService) ListGFlags(ctx context.Context, version string) GFlagsValidationAPIsAPIListGFlagsRequest {
	return GFlagsValidationAPIsAPIListGFlagsRequest{
		ApiService: a,
		ctx:        ctx,
		version:    version,
	}
}

// Execute executes the request
//
//	@return []GFlagDetails
func (a *GFlagsValidationAPIsAPIService) ListGFlagsExecute(r GFlagsValidationAPIsAPIListGFlagsRequest) ([]GFlagDetails, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []GFlagDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GFlagsValidationAPIsAPIService.ListGFlags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metadata/version/{version}/list_gflags"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "", "")
	}
	if r.server != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "server", r.server, "", "")
	}
	if r.mostUsedGFlags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mostUsedGFlags", r.mostUsedGFlags, "", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "mostUsedGFlags", defaultValue, "", "")
		r.mostUsedGFlags = &defaultValue
	}
	if r.showExperimental != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "showExperimental", r.showExperimental, "", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "showExperimental", defaultValue, "", "")
		r.showExperimental = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type GFlagsValidationAPIsAPIValidateGFlagsRequest struct {
	ctx                     context.Context
	ApiService              *GFlagsValidationAPIsAPIService
	version                 string
	gflagValidationFormData *GFlagsValidationFormData
	request                 *interface{}
}

// GFlag validation form data
func (r GFlagsValidationAPIsAPIValidateGFlagsRequest) GflagValidationFormData(gflagValidationFormData GFlagsValidationFormData) GFlagsValidationAPIsAPIValidateGFlagsRequest {
	r.gflagValidationFormData = &gflagValidationFormData
	return r
}

func (r GFlagsValidationAPIsAPIValidateGFlagsRequest) Request(request interface{}) GFlagsValidationAPIsAPIValidateGFlagsRequest {
	r.request = &request
	return r
}

func (r GFlagsValidationAPIsAPIValidateGFlagsRequest) Execute() ([]GFlagsValidationResponse, *http.Response, error) {
	return r.ApiService.ValidateGFlagsExecute(r)
}

/*
ValidateGFlags Validate gflags

WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param version
	@return GFlagsValidationAPIsAPIValidateGFlagsRequest
*/
func (a *GFlagsValidationAPIsAPIService) ValidateGFlags(ctx context.Context, version string) GFlagsValidationAPIsAPIValidateGFlagsRequest {
	return GFlagsValidationAPIsAPIValidateGFlagsRequest{
		ApiService: a,
		ctx:        ctx,
		version:    version,
	}
}

// Execute executes the request
//
//	@return []GFlagsValidationResponse
func (a *GFlagsValidationAPIsAPIService) ValidateGFlagsExecute(r GFlagsValidationAPIsAPIValidateGFlagsRequest) ([]GFlagsValidationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []GFlagsValidationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GFlagsValidationAPIsAPIService.ValidateGFlags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/metadata/version/{version}/validate_gflags"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gflagValidationFormData == nil {
		return localVarReturnValue, nil, reportError("gflagValidationFormData is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gflagValidationFormData
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
