/*
YugabyteDB Anywhere APIs

ALPHA - NOT FOR EXTERNAL USE

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ywclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CloudProvidersAPIService CloudProvidersAPI service
type CloudProvidersAPIService service

type CloudProvidersAPIAccessKeyRotationRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	request *interface{}
}

func (r CloudProvidersAPIAccessKeyRotationRequest) Request(request interface{}) CloudProvidersAPIAccessKeyRotationRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIAccessKeyRotationRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.AccessKeyRotationExecute(r)
}

/*
AccessKeyRotation Rotate access key for a provider

WARNING: This is a preview API that could change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIAccessKeyRotationRequest
*/
func (a *CloudProvidersAPIService) AccessKeyRotation(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIAccessKeyRotationRequest {
	return CloudProvidersAPIAccessKeyRotationRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return YBPTask
func (a *CloudProvidersAPIService) AccessKeyRotationExecute(r CloudProvidersAPIAccessKeyRotationRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.AccessKeyRotation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPICreateProvidersRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	createProviderRequest *Provider
	validate *bool
	ignoreValidationErrors *bool
	request *interface{}
}

func (r CloudProvidersAPICreateProvidersRequest) CreateProviderRequest(createProviderRequest Provider) CloudProvidersAPICreateProvidersRequest {
	r.createProviderRequest = &createProviderRequest
	return r
}

func (r CloudProvidersAPICreateProvidersRequest) Validate(validate bool) CloudProvidersAPICreateProvidersRequest {
	r.validate = &validate
	return r
}

func (r CloudProvidersAPICreateProvidersRequest) IgnoreValidationErrors(ignoreValidationErrors bool) CloudProvidersAPICreateProvidersRequest {
	r.ignoreValidationErrors = &ignoreValidationErrors
	return r
}

func (r CloudProvidersAPICreateProvidersRequest) Request(request interface{}) CloudProvidersAPICreateProvidersRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPICreateProvidersRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.CreateProvidersExecute(r)
}

/*
CreateProviders Create a provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @return CloudProvidersAPICreateProvidersRequest
*/
func (a *CloudProvidersAPIService) CreateProviders(ctx context.Context, cUUID string) CloudProvidersAPICreateProvidersRequest {
	return CloudProvidersAPICreateProvidersRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
	}
}

// Execute executes the request
//  @return YBPTask
func (a *CloudProvidersAPIService) CreateProvidersExecute(r CloudProvidersAPICreateProvidersRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.CreateProviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createProviderRequest == nil {
		return localVarReturnValue, nil, reportError("createProviderRequest is required and must be specified")
	}

	if r.validate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "validate", r.validate, "", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "validate", defaultValue, "", "")
        r.validate = &defaultValue
	}
	if r.ignoreValidationErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ignoreValidationErrors", r.ignoreValidationErrors, "", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "ignoreValidationErrors", defaultValue, "", "")
        r.ignoreValidationErrors = &defaultValue
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createProviderRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIDeleteRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	request *interface{}
}

func (r CloudProvidersAPIDeleteRequest) Request(request interface{}) CloudProvidersAPIDeleteRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIDeleteRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.DeleteExecute(r)
}

/*
Delete Delete a cloud provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIDeleteRequest
*/
func (a *CloudProvidersAPIService) Delete(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIDeleteRequest {
	return CloudProvidersAPIDeleteRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return YBPTask
func (a *CloudProvidersAPIService) DeleteExecute(r CloudProvidersAPIDeleteRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.Delete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIEditAccessKeyRotationScheduleRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	sUUID string
	body *EditAccessKeyRotationScheduleParams
	request *interface{}
}

func (r CloudProvidersAPIEditAccessKeyRotationScheduleRequest) Body(body EditAccessKeyRotationScheduleParams) CloudProvidersAPIEditAccessKeyRotationScheduleRequest {
	r.body = &body
	return r
}

func (r CloudProvidersAPIEditAccessKeyRotationScheduleRequest) Request(request interface{}) CloudProvidersAPIEditAccessKeyRotationScheduleRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIEditAccessKeyRotationScheduleRequest) Execute() (*Schedule, *http.Response, error) {
	return r.ApiService.EditAccessKeyRotationScheduleExecute(r)
}

/*
EditAccessKeyRotationSchedule Edit a access key rotation schedule

WARNING: This is a preview API that could change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @param sUUID
 @return CloudProvidersAPIEditAccessKeyRotationScheduleRequest
*/
func (a *CloudProvidersAPIService) EditAccessKeyRotationSchedule(ctx context.Context, cUUID string, pUUID string, sUUID string) CloudProvidersAPIEditAccessKeyRotationScheduleRequest {
	return CloudProvidersAPIEditAccessKeyRotationScheduleRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
		sUUID: sUUID,
	}
}

// Execute executes the request
//  @return Schedule
func (a *CloudProvidersAPIService) EditAccessKeyRotationScheduleExecute(r CloudProvidersAPIEditAccessKeyRotationScheduleRequest) (*Schedule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Schedule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.EditAccessKeyRotationSchedule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation/schedule/{sUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sUUID"+"}", url.PathEscape(parameterValueToString(r.sUUID, "sUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIEditProviderRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	editProviderRequest *Provider
	validate *bool
	ignoreValidationErrors *bool
	request *interface{}
}

// edit provider form data
func (r CloudProvidersAPIEditProviderRequest) EditProviderRequest(editProviderRequest Provider) CloudProvidersAPIEditProviderRequest {
	r.editProviderRequest = &editProviderRequest
	return r
}

func (r CloudProvidersAPIEditProviderRequest) Validate(validate bool) CloudProvidersAPIEditProviderRequest {
	r.validate = &validate
	return r
}

func (r CloudProvidersAPIEditProviderRequest) IgnoreValidationErrors(ignoreValidationErrors bool) CloudProvidersAPIEditProviderRequest {
	r.ignoreValidationErrors = &ignoreValidationErrors
	return r
}

func (r CloudProvidersAPIEditProviderRequest) Request(request interface{}) CloudProvidersAPIEditProviderRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIEditProviderRequest) Execute() (*YBPTask, *http.Response, error) {
	return r.ApiService.EditProviderExecute(r)
}

/*
EditProvider Update a provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIEditProviderRequest
*/
func (a *CloudProvidersAPIService) EditProvider(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIEditProviderRequest {
	return CloudProvidersAPIEditProviderRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return YBPTask
func (a *CloudProvidersAPIService) EditProviderExecute(r CloudProvidersAPIEditProviderRequest) (*YBPTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *YBPTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.EditProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/edit"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.editProviderRequest == nil {
		return localVarReturnValue, nil, reportError("editProviderRequest is required and must be specified")
	}

	if r.validate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "validate", r.validate, "", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "validate", defaultValue, "", "")
        r.validate = &defaultValue
	}
	if r.ignoreValidationErrors != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ignoreValidationErrors", r.ignoreValidationErrors, "", "")
	} else {
        var defaultValue bool = false
        parameterAddToHeaderOrQuery(localVarQueryParams, "ignoreValidationErrors", defaultValue, "", "")
        r.ignoreValidationErrors = &defaultValue
	}
	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.editProviderRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIGetListOfProvidersRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	name *string
	providerCode *string
}

func (r CloudProvidersAPIGetListOfProvidersRequest) Name(name string) CloudProvidersAPIGetListOfProvidersRequest {
	r.name = &name
	return r
}

func (r CloudProvidersAPIGetListOfProvidersRequest) ProviderCode(providerCode string) CloudProvidersAPIGetListOfProvidersRequest {
	r.providerCode = &providerCode
	return r
}

func (r CloudProvidersAPIGetListOfProvidersRequest) Execute() ([]Provider, *http.Response, error) {
	return r.ApiService.GetListOfProvidersExecute(r)
}

/*
GetListOfProviders List cloud providers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @return CloudProvidersAPIGetListOfProvidersRequest
*/
func (a *CloudProvidersAPIService) GetListOfProviders(ctx context.Context, cUUID string) CloudProvidersAPIGetListOfProvidersRequest {
	return CloudProvidersAPIGetListOfProvidersRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
	}
}

// Execute executes the request
//  @return []Provider
func (a *CloudProvidersAPIService) GetListOfProvidersExecute(r CloudProvidersAPIGetListOfProvidersRequest) ([]Provider, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Provider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.GetListOfProviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "", "")
	} else {
	}
	if r.providerCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "providerCode", r.providerCode, "", "")
	} else {
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIGetProviderRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
}

func (r CloudProvidersAPIGetProviderRequest) Execute() (*Provider, *http.Response, error) {
	return r.ApiService.GetProviderExecute(r)
}

/*
GetProvider Get a cloud provider

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIGetProviderRequest
*/
func (a *CloudProvidersAPIService) GetProvider(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIGetProviderRequest {
	return CloudProvidersAPIGetProviderRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return Provider
func (a *CloudProvidersAPIService) GetProviderExecute(r CloudProvidersAPIGetProviderRequest) (*Provider, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Provider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.GetProvider")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIGetRegionMetadataRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	code string
	subType *string
}

func (r CloudProvidersAPIGetRegionMetadataRequest) SubType(subType string) CloudProvidersAPIGetRegionMetadataRequest {
	r.subType = &subType
	return r
}

func (r CloudProvidersAPIGetRegionMetadataRequest) Execute() (*RegionMetadata, *http.Response, error) {
	return r.ApiService.GetRegionMetadataExecute(r)
}

/*
GetRegionMetadata Retrieves the region metadata for the cloud providers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param code
 @return CloudProvidersAPIGetRegionMetadataRequest
*/
func (a *CloudProvidersAPIService) GetRegionMetadata(ctx context.Context, cUUID string, code string) CloudProvidersAPIGetRegionMetadataRequest {
	return CloudProvidersAPIGetRegionMetadataRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		code: code,
	}
}

// Execute executes the request
//  @return RegionMetadata
func (a *CloudProvidersAPIService) GetRegionMetadataExecute(r CloudProvidersAPIGetRegionMetadataRequest) (*RegionMetadata, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RegionMetadata
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.GetRegionMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/region_metadata/{code}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"code"+"}", url.PathEscape(parameterValueToString(r.code, "code")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subType", r.subType, "", "")
	} else {
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIListSchedulesRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
}

func (r CloudProvidersAPIListSchedulesRequest) Execute() ([]Schedule, *http.Response, error) {
	return r.ApiService.ListSchedulesExecute(r)
}

/*
ListSchedules List all schedules for a provider's access key rotation

WARNING: This is a preview API that could change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIListSchedulesRequest
*/
func (a *CloudProvidersAPIService) ListSchedules(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIListSchedulesRequest {
	return CloudProvidersAPIListSchedulesRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return []Schedule
func (a *CloudProvidersAPIService) ListSchedulesExecute(r CloudProvidersAPIListSchedulesRequest) ([]Schedule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Schedule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.ListSchedules")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation/schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIRefreshPricingRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	request *interface{}
}

func (r CloudProvidersAPIRefreshPricingRequest) Request(request interface{}) CloudProvidersAPIRefreshPricingRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIRefreshPricingRequest) Execute() (*YBPSuccess, *http.Response, error) {
	return r.ApiService.RefreshPricingExecute(r)
}

/*
RefreshPricing Refresh provider pricing info

WARNING: This is a preview API that could change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIRefreshPricingRequest
*/
func (a *CloudProvidersAPIService) RefreshPricing(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIRefreshPricingRequest {
	return CloudProvidersAPIRefreshPricingRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return YBPSuccess
func (a *CloudProvidersAPIService) RefreshPricingExecute(r CloudProvidersAPIRefreshPricingRequest) (*YBPSuccess, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *YBPSuccess
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.RefreshPricing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/refresh_pricing"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CloudProvidersAPIScheduledAccessKeyRotationRequest struct {
	ctx context.Context
	ApiService *CloudProvidersAPIService
	cUUID string
	pUUID string
	request *interface{}
}

func (r CloudProvidersAPIScheduledAccessKeyRotationRequest) Request(request interface{}) CloudProvidersAPIScheduledAccessKeyRotationRequest {
	r.request = &request
	return r
}

func (r CloudProvidersAPIScheduledAccessKeyRotationRequest) Execute() (*Schedule, *http.Response, error) {
	return r.ApiService.ScheduledAccessKeyRotationExecute(r)
}

/*
ScheduledAccessKeyRotation Rotate access key for a provider - Scheduled

WARNING: This is a preview API that could change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cUUID
 @param pUUID
 @return CloudProvidersAPIScheduledAccessKeyRotationRequest
*/
func (a *CloudProvidersAPIService) ScheduledAccessKeyRotation(ctx context.Context, cUUID string, pUUID string) CloudProvidersAPIScheduledAccessKeyRotationRequest {
	return CloudProvidersAPIScheduledAccessKeyRotationRequest{
		ApiService: a,
		ctx: ctx,
		cUUID: cUUID,
		pUUID: pUUID,
	}
}

// Execute executes the request
//  @return Schedule
func (a *CloudProvidersAPIService) ScheduledAccessKeyRotationExecute(r CloudProvidersAPIScheduledAccessKeyRotationRequest) (*Schedule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Schedule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CloudProvidersAPIService.ScheduledAccessKeyRotation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/customers/{cUUID}/providers/{pUUID}/access_key_rotation/schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pUUID"+"}", url.PathEscape(parameterValueToString(r.pUUID, "pUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.request != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "request", r.request, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
