/*
YugabyteDB Anywhere V2 APIs

An improved set of APIs for managing YugabyteDB Anywhere

API version: v2
Contact: support@yugabyte.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// NodeAgentAPIService NodeAgentAPI service
type NodeAgentAPIService service

type NodeAgentAPIUpgradeNodeAgentRequest struct {
	ctx                  context.Context
	ApiService           *NodeAgentAPIService
	cUUID                string
	uniUUID              string
	nodeAgentUpgradeSpec *NodeAgentUpgradeSpec
}

func (r NodeAgentAPIUpgradeNodeAgentRequest) NodeAgentUpgradeSpec(nodeAgentUpgradeSpec NodeAgentUpgradeSpec) NodeAgentAPIUpgradeNodeAgentRequest {
	r.nodeAgentUpgradeSpec = &nodeAgentUpgradeSpec
	return r
}

func (r NodeAgentAPIUpgradeNodeAgentRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.UpgradeNodeAgentExecute(r)
}

/*
UpgradeNodeAgent Upgrade node agents

Upgrade node agents in a universe. Optionally restrict the upgrade to a list of node names
and/or supply a certificate UUID. If node_names is omitted, all live nodes are upgraded.
WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return NodeAgentAPIUpgradeNodeAgentRequest
*/
func (a *NodeAgentAPIService) UpgradeNodeAgent(ctx context.Context, cUUID string, uniUUID string) NodeAgentAPIUpgradeNodeAgentRequest {
	return NodeAgentAPIUpgradeNodeAgentRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *NodeAgentAPIService) UpgradeNodeAgentExecute(r NodeAgentAPIUpgradeNodeAgentRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NodeAgentAPIService.UpgradeNodeAgent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/upgrade/node-agent"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nodeAgentUpgradeSpec == nil {
		return localVarReturnValue, nil, reportError("nodeAgentUpgradeSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nodeAgentUpgradeSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
