/*
YugabyteDB Anywhere V2 APIs

An improved set of APIs for managing YugabyteDB Anywhere

API version: v2
Contact: support@yugabyte.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// UniverseAPIService UniverseAPI service
type UniverseAPIService service

type UniverseAPIAddClusterRequest struct {
	ctx            context.Context
	ApiService     *UniverseAPIService
	cUUID          string
	uniUUID        string
	clusterAddSpec *ClusterAddSpec
}

func (r UniverseAPIAddClusterRequest) ClusterAddSpec(clusterAddSpec ClusterAddSpec) UniverseAPIAddClusterRequest {
	r.clusterAddSpec = &clusterAddSpec
	return r
}

func (r UniverseAPIAddClusterRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.AddClusterExecute(r)
}

/*
AddCluster Add a cluster to a YugabyteDB Universe

Add a cluster (eg. read replica cluster) to a YugabyteDB universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIAddClusterRequest
*/
func (a *UniverseAPIService) AddCluster(ctx context.Context, cUUID string, uniUUID string) UniverseAPIAddClusterRequest {
	return UniverseAPIAddClusterRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) AddClusterExecute(r UniverseAPIAddClusterRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.AddCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/clusters"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clusterAddSpec == nil {
		return localVarReturnValue, nil, reportError("clusterAddSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.clusterAddSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIAttachUniverseRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	uniUUID            string
	attachUniverseSpec *AttachUniverseSpec
}

func (r UniverseAPIAttachUniverseRequest) AttachUniverseSpec(attachUniverseSpec AttachUniverseSpec) UniverseAPIAttachUniverseRequest {
	r.attachUniverseSpec = &attachUniverseSpec
	return r
}

func (r UniverseAPIAttachUniverseRequest) Execute() (*http.Response, error) {
	return r.ApiService.AttachUniverseExecute(r)
}

/*
AttachUniverse Attach universe

Import universe metadata to (destination) YBA using a given tgz file

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIAttachUniverseRequest
*/
func (a *UniverseAPIService) AttachUniverse(ctx context.Context, cUUID string, uniUUID string) UniverseAPIAttachUniverseRequest {
	return UniverseAPIAttachUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
func (a *UniverseAPIService) AttachUniverseExecute(r UniverseAPIAttachUniverseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.AttachUniverse")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/attach"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attachUniverseSpec == nil {
		return nil, reportError("attachUniverseSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.attachUniverseSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UniverseAPIConfigureExportTelemetryConfigRequest struct {
	ctx                       context.Context
	ApiService                *UniverseAPIService
	cUUID                     string
	uniUUID                   string
	exportTelemetryConfigSpec *ExportTelemetryConfigSpec
}

// Export telemetry config request (unified telemetry configs + upgrade options)
func (r UniverseAPIConfigureExportTelemetryConfigRequest) ExportTelemetryConfigSpec(exportTelemetryConfigSpec ExportTelemetryConfigSpec) UniverseAPIConfigureExportTelemetryConfigRequest {
	r.exportTelemetryConfigSpec = &exportTelemetryConfigSpec
	return r
}

func (r UniverseAPIConfigureExportTelemetryConfigRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.ConfigureExportTelemetryConfigExecute(r)
}

/*
ConfigureExportTelemetryConfig Configure export telemetry configs (unified API)

Configure all telemetry export configs (audit logs, query logs, metrics) for a universe
in a single idempotent API. Replaces the separate audit_log_config, query-log-config,
and metrics-export-config APIs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIConfigureExportTelemetryConfigRequest
*/
func (a *UniverseAPIService) ConfigureExportTelemetryConfig(ctx context.Context, cUUID string, uniUUID string) UniverseAPIConfigureExportTelemetryConfigRequest {
	return UniverseAPIConfigureExportTelemetryConfigRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) ConfigureExportTelemetryConfigExecute(r UniverseAPIConfigureExportTelemetryConfigRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.ConfigureExportTelemetryConfig")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/export-telemetry-configs"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.exportTelemetryConfigSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIConfigureMetricsExportRequest struct {
	ctx                        context.Context
	ApiService                 *UniverseAPIService
	cUUID                      string
	uniUUID                    string
	configureMetricsExportSpec *ConfigureMetricsExportSpec
}

// ConfigureMetricsExportReq  Payload to configure metrics export. Part of ConfigureMetricsExportReq
func (r UniverseAPIConfigureMetricsExportRequest) ConfigureMetricsExportSpec(configureMetricsExportSpec ConfigureMetricsExportSpec) UniverseAPIConfigureMetricsExportRequest {
	r.configureMetricsExportSpec = &configureMetricsExportSpec
	return r
}

func (r UniverseAPIConfigureMetricsExportRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.ConfigureMetricsExportExecute(r)
}

/*
ConfigureMetricsExport Configure metrics export

Configure metrics export from a universe to a metrics export telemetry provider

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIConfigureMetricsExportRequest
*/
func (a *UniverseAPIService) ConfigureMetricsExport(ctx context.Context, cUUID string, uniUUID string) UniverseAPIConfigureMetricsExportRequest {
	return UniverseAPIConfigureMetricsExportRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) ConfigureMetricsExportExecute(r UniverseAPIConfigureMetricsExportRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.ConfigureMetricsExport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/metrics-export-config"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.configureMetricsExportSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIConfigureQueryLoggingRequest struct {
	ctx                     context.Context
	ApiService              *UniverseAPIService
	cUUID                   string
	uniUUID                 string
	universeQueryLogsExport *UniverseQueryLogsExport
}

// UniverseQueryLogsExportReq  Payload to configure export of query logs. Part of UniverseQueryLogsExportReq
func (r UniverseAPIConfigureQueryLoggingRequest) UniverseQueryLogsExport(universeQueryLogsExport UniverseQueryLogsExport) UniverseAPIConfigureQueryLoggingRequest {
	r.universeQueryLogsExport = &universeQueryLogsExport
	return r
}

func (r UniverseAPIConfigureQueryLoggingRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.ConfigureQueryLoggingExecute(r)
}

/*
ConfigureQueryLogging Configure Query Log for YugabyteDB Universe

Configure Query Log for a YugabyteDB Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIConfigureQueryLoggingRequest
*/
func (a *UniverseAPIService) ConfigureQueryLogging(ctx context.Context, cUUID string, uniUUID string) UniverseAPIConfigureQueryLoggingRequest {
	return UniverseAPIConfigureQueryLoggingRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) ConfigureQueryLoggingExecute(r UniverseAPIConfigureQueryLoggingRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.ConfigureQueryLogging")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/query-log-config"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeQueryLogsExport
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPICreateFileCollectionRequest struct {
	ctx                 context.Context
	ApiService          *UniverseAPIService
	cUUID               string
	uniUUID             string
	collectFilesRequest *CollectFilesRequest
}

func (r UniverseAPICreateFileCollectionRequest) CollectFilesRequest(collectFilesRequest CollectFilesRequest) UniverseAPICreateFileCollectionRequest {
	r.collectFilesRequest = &collectFilesRequest
	return r
}

func (r UniverseAPICreateFileCollectionRequest) Execute() (*CollectFilesResponse, *http.Response, error) {
	return r.ApiService.CreateFileCollectionExecute(r)
}

/*
CreateFileCollection Collect files from database nodes

Collect specified files from one or more nodes in the universe. Files can be collected
by specifying individual file paths or directory paths. The files are packaged into a
tar.gz archive on each database node.

This API requires the runtime configuration `yb.node_script.enabled` to be set to true
for the universe.

**Important**: The response includes `collection_uuid` which can be used with the
download and cleanup endpoints. The tar files are stored on the database nodes and
can be downloaded using GET /file-collections/{collectionUUID}/download.

**Security**: This API is restricted to localhost access only. It can only be called from
the same machine where YugabyteDB Anywhere is running.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPICreateFileCollectionRequest
*/
func (a *UniverseAPIService) CreateFileCollection(ctx context.Context, cUUID string, uniUUID string) UniverseAPICreateFileCollectionRequest {
	return UniverseAPICreateFileCollectionRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return CollectFilesResponse
func (a *UniverseAPIService) CreateFileCollectionExecute(r UniverseAPICreateFileCollectionRequest) (*CollectFilesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CollectFilesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.CreateFileCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/file-collections"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.collectFilesRequest == nil {
		return localVarReturnValue, nil, reportError("collectFilesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.collectFilesRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPICreateUniverseRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	universeCreateSpec *UniverseCreateSpec
}

func (r UniverseAPICreateUniverseRequest) UniverseCreateSpec(universeCreateSpec UniverseCreateSpec) UniverseAPICreateUniverseRequest {
	r.universeCreateSpec = &universeCreateSpec
	return r
}

func (r UniverseAPICreateUniverseRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.CreateUniverseExecute(r)
}

/*
CreateUniverse Create a YugabyteDB Universe

Create all the clusters of a YugabyteDB universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@return UniverseAPICreateUniverseRequest
*/
func (a *UniverseAPIService) CreateUniverse(ctx context.Context, cUUID string) UniverseAPICreateUniverseRequest {
	return UniverseAPICreateUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) CreateUniverseExecute(r UniverseAPICreateUniverseRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.CreateUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeCreateSpec == nil {
		return localVarReturnValue, nil, reportError("universeCreateSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeCreateSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIDeleteAttachDetachMetadataRequest struct {
	ctx        context.Context
	ApiService *UniverseAPIService
	cUUID      string
	uniUUID    string
}

func (r UniverseAPIDeleteAttachDetachMetadataRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAttachDetachMetadataExecute(r)
}

/*
DeleteAttachDetachMetadata Delete attach/detach metadata

Delete metadata of a universe from (source) YBA

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIDeleteAttachDetachMetadataRequest
*/
func (a *UniverseAPIService) DeleteAttachDetachMetadata(ctx context.Context, cUUID string, uniUUID string) UniverseAPIDeleteAttachDetachMetadataRequest {
	return UniverseAPIDeleteAttachDetachMetadataRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
func (a *UniverseAPIService) DeleteAttachDetachMetadataExecute(r UniverseAPIDeleteAttachDetachMetadataRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DeleteAttachDetachMetadata")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/attach-detach-metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UniverseAPIDeleteClusterRequest struct {
	ctx           context.Context
	ApiService    *UniverseAPIService
	cUUID         string
	uniUUID       string
	clsUUID       string
	isForceDelete *bool
}

// Whether to force delete the cluster
func (r UniverseAPIDeleteClusterRequest) IsForceDelete(isForceDelete bool) UniverseAPIDeleteClusterRequest {
	r.isForceDelete = &isForceDelete
	return r
}

func (r UniverseAPIDeleteClusterRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.DeleteClusterExecute(r)
}

/*
DeleteCluster Delete an additional cluster(s) of a YugabyteDB Universe

Delete an additional cluster (eg. read replica cluster) of a YugabyteDB universe. Primary cluster is deleted along with Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@param clsUUID Cluster UUID
	@return UniverseAPIDeleteClusterRequest
*/
func (a *UniverseAPIService) DeleteCluster(ctx context.Context, cUUID string, uniUUID string, clsUUID string) UniverseAPIDeleteClusterRequest {
	return UniverseAPIDeleteClusterRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
		clsUUID:    clsUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) DeleteClusterExecute(r UniverseAPIDeleteClusterRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DeleteCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/clusters/{clsUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"clsUUID"+"}", url.PathEscape(parameterValueToString(r.clsUUID, "clsUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isForceDelete != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", r.isForceDelete, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "isForceDelete", defaultValue, "form", "")
		r.isForceDelete = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIDeleteFileCollectionRequest struct {
	ctx               context.Context
	ApiService        *UniverseAPIService
	cUUID             string
	uniUUID           string
	collectionUUID    string
	deleteFromDbNodes *bool
	deleteFromYba     *bool
}

// Whether to delete tar files from database nodes
func (r UniverseAPIDeleteFileCollectionRequest) DeleteFromDbNodes(deleteFromDbNodes bool) UniverseAPIDeleteFileCollectionRequest {
	r.deleteFromDbNodes = &deleteFromDbNodes
	return r
}

// Whether to delete downloaded files from YBA local storage
func (r UniverseAPIDeleteFileCollectionRequest) DeleteFromYba(deleteFromYba bool) UniverseAPIDeleteFileCollectionRequest {
	r.deleteFromYba = &deleteFromYba
	return r
}

func (r UniverseAPIDeleteFileCollectionRequest) Execute() (*CleanupCollectionInfo, *http.Response, error) {
	return r.ApiService.DeleteFileCollectionExecute(r)
}

/*
DeleteFileCollection Delete collected files from database nodes and/or YBA

Delete tar archives created by the create file collection API. By default, this only
deletes files from DB nodes. Use `delete_from_yba=true` to also remove downloaded
files from YBA local storage.

Use this API when you are done downloading the collected files and want to free up
disk space on the database nodes and/or YBA server.

**Security**: This API can only be called from localhost (the YBA server itself).
This restriction exists because it modifies files on database nodes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@param collectionUUID Collection UUID returned by create file collection API
	@return UniverseAPIDeleteFileCollectionRequest
*/
func (a *UniverseAPIService) DeleteFileCollection(ctx context.Context, cUUID string, uniUUID string, collectionUUID string) UniverseAPIDeleteFileCollectionRequest {
	return UniverseAPIDeleteFileCollectionRequest{
		ApiService:     a,
		ctx:            ctx,
		cUUID:          cUUID,
		uniUUID:        uniUUID,
		collectionUUID: collectionUUID,
	}
}

// Execute executes the request
//
//	@return CleanupCollectionInfo
func (a *UniverseAPIService) DeleteFileCollectionExecute(r UniverseAPIDeleteFileCollectionRequest) (*CleanupCollectionInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CleanupCollectionInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DeleteFileCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/file-collections/{collectionUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"collectionUUID"+"}", url.PathEscape(parameterValueToString(r.collectionUUID, "collectionUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deleteFromDbNodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete_from_db_nodes", r.deleteFromDbNodes, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete_from_db_nodes", defaultValue, "form", "")
		r.deleteFromDbNodes = &defaultValue
	}
	if r.deleteFromYba != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete_from_yba", r.deleteFromYba, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete_from_yba", defaultValue, "form", "")
		r.deleteFromYba = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIDeleteUniverseRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	uniUUID            string
	universeDeleteSpec *UniverseDeleteSpec
}

func (r UniverseAPIDeleteUniverseRequest) UniverseDeleteSpec(universeDeleteSpec UniverseDeleteSpec) UniverseAPIDeleteUniverseRequest {
	r.universeDeleteSpec = &universeDeleteSpec
	return r
}

func (r UniverseAPIDeleteUniverseRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.DeleteUniverseExecute(r)
}

/*
DeleteUniverse Delete a universe

Delete Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIDeleteUniverseRequest
*/
func (a *UniverseAPIService) DeleteUniverse(ctx context.Context, cUUID string, uniUUID string) UniverseAPIDeleteUniverseRequest {
	return UniverseAPIDeleteUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) DeleteUniverseExecute(r UniverseAPIDeleteUniverseRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DeleteUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeDeleteSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIDetachUniverseRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	uniUUID            string
	detachUniverseSpec *DetachUniverseSpec
}

func (r UniverseAPIDetachUniverseRequest) DetachUniverseSpec(detachUniverseSpec DetachUniverseSpec) UniverseAPIDetachUniverseRequest {
	r.detachUniverseSpec = &detachUniverseSpec
	return r
}

func (r UniverseAPIDetachUniverseRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.DetachUniverseExecute(r)
}

/*
DetachUniverse Detach universe

Export universe metadata to a tgz file from (source) YBA

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIDetachUniverseRequest
*/
func (a *UniverseAPIService) DetachUniverse(ctx context.Context, cUUID string, uniUUID string) UniverseAPIDetachUniverseRequest {
	return UniverseAPIDetachUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *UniverseAPIService) DetachUniverseExecute(r UniverseAPIDetachUniverseRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DetachUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/detach"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.detachUniverseSpec == nil {
		return localVarReturnValue, nil, reportError("detachUniverseSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/gzip"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.detachUniverseSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIDownloadFileCollectionRequest struct {
	ctx                 context.Context
	ApiService          *UniverseAPIService
	cUUID               string
	uniUUID             string
	collectionUUID      string
	cleanupDbNodesAfter *bool
}

// If true, automatically delete the collected files from DB nodes after successful download. This is equivalent to calling DELETE /file-collections/{collectionUUID} with delete_from_db_nodes&#x3D;true after the download completes. Default is false (files remain on DB nodes until explicitly deleted). **Security**: When this is set to true, localhost restriction applies.
func (r UniverseAPIDownloadFileCollectionRequest) CleanupDbNodesAfter(cleanupDbNodesAfter bool) UniverseAPIDownloadFileCollectionRequest {
	r.cleanupDbNodesAfter = &cleanupDbNodesAfter
	return r
}

func (r UniverseAPIDownloadFileCollectionRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.DownloadFileCollectionExecute(r)
}

/*
DownloadFileCollection Download collected files

Download previously collected files from database nodes. Use the collection_uuid
returned by the create file collection API (POST /file-collections) to identify
which files to download.

This API downloads the tar.gz archives from each database node and streams them
back to the client as a combined archive.

**Note**: By default, this API does NOT have localhost restriction and can be
called from any authorized client. However, if cleanup_db_nodes_after=true is specified,
localhost restriction applies since it modifies files on database nodes.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@param collectionUUID Collection UUID returned by create file collection API
	@return UniverseAPIDownloadFileCollectionRequest
*/
func (a *UniverseAPIService) DownloadFileCollection(ctx context.Context, cUUID string, uniUUID string, collectionUUID string) UniverseAPIDownloadFileCollectionRequest {
	return UniverseAPIDownloadFileCollectionRequest{
		ApiService:     a,
		ctx:            ctx,
		cUUID:          cUUID,
		uniUUID:        uniUUID,
		collectionUUID: collectionUUID,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *UniverseAPIService) DownloadFileCollectionExecute(r UniverseAPIDownloadFileCollectionRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.DownloadFileCollection")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/file-collections/{collectionUUID}/download"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"collectionUUID"+"}", url.PathEscape(parameterValueToString(r.collectionUUID, "collectionUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cleanupDbNodesAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cleanup_db_nodes_after", r.cleanupDbNodesAfter, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "cleanup_db_nodes_after", defaultValue, "form", "")
		r.cleanupDbNodesAfter = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/gzip"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIEditGFlagsRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	uniUUID            string
	universeEditGFlags *UniverseEditGFlags
}

func (r UniverseAPIEditGFlagsRequest) UniverseEditGFlags(universeEditGFlags UniverseEditGFlags) UniverseAPIEditGFlagsRequest {
	r.universeEditGFlags = &universeEditGFlags
	return r
}

func (r UniverseAPIEditGFlagsRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.EditGFlagsExecute(r)
}

/*
EditGFlags Edit GFlags

Queues a task to edit GFlags of a universe. The input set of GFlags will replace any existing GFlags in the universe. Refer [YB-Master configuration flags](https://docs.yugabyte.com/preview/reference/configuration/yb-master/#configuration-flags) and [YB-TServer configuration flags](https://docs.yugabyte.com/preview/reference/configuration/yb-tserver/#configuration-flags).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIEditGFlagsRequest
*/
func (a *UniverseAPIService) EditGFlags(ctx context.Context, cUUID string, uniUUID string) UniverseAPIEditGFlagsRequest {
	return UniverseAPIEditGFlagsRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) EditGFlagsExecute(r UniverseAPIEditGFlagsRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.EditGFlags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/gflags"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeEditGFlags == nil {
		return localVarReturnValue, nil, reportError("universeEditGFlags is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeEditGFlags
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIEditKubernetesOverridesRequest struct {
	ctx                             context.Context
	ApiService                      *UniverseAPIService
	cUUID                           string
	uniUUID                         string
	universeEditKubernetesOverrides *UniverseEditKubernetesOverrides
}

func (r UniverseAPIEditKubernetesOverridesRequest) UniverseEditKubernetesOverrides(universeEditKubernetesOverrides UniverseEditKubernetesOverrides) UniverseAPIEditKubernetesOverridesRequest {
	r.universeEditKubernetesOverrides = &universeEditKubernetesOverrides
	return r
}

func (r UniverseAPIEditKubernetesOverridesRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.EditKubernetesOverridesExecute(r)
}

/*
EditKubernetesOverrides Edit Kubernetes Helm Overrides

Update the kubernetes helm override values. This can be used to add custom settings to
kubernetes resources managed by YugabyteDB Anywhere. These override values can apply globally
to a universe or per AZ.

See https://github.com/yugabyte/charts/blob/master/stable/yugabyte/values.yaml for possible
override options.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIEditKubernetesOverridesRequest
*/
func (a *UniverseAPIService) EditKubernetesOverrides(ctx context.Context, cUUID string, uniUUID string) UniverseAPIEditKubernetesOverridesRequest {
	return UniverseAPIEditKubernetesOverridesRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) EditKubernetesOverridesExecute(r UniverseAPIEditKubernetesOverridesRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.EditKubernetesOverrides")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/kubernetes-overrides"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeEditKubernetesOverrides == nil {
		return localVarReturnValue, nil, reportError("universeEditKubernetesOverrides is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeEditKubernetesOverrides
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIEditUniverseRequest struct {
	ctx              context.Context
	ApiService       *UniverseAPIService
	cUUID            string
	uniUUID          string
	universeEditSpec *UniverseEditSpec
}

func (r UniverseAPIEditUniverseRequest) UniverseEditSpec(universeEditSpec UniverseEditSpec) UniverseAPIEditUniverseRequest {
	r.universeEditSpec = &universeEditSpec
	return r
}

func (r UniverseAPIEditUniverseRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.EditUniverseExecute(r)
}

/*
EditUniverse Edit a YugabyteDB Universe

Edit the clusters of a single YugabyteDB Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIEditUniverseRequest
*/
func (a *UniverseAPIService) EditUniverse(ctx context.Context, cUUID string, uniUUID string) UniverseAPIEditUniverseRequest {
	return UniverseAPIEditUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) EditUniverseExecute(r UniverseAPIEditUniverseRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.EditUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeEditSpec == nil {
		return localVarReturnValue, nil, reportError("universeEditSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeEditSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIEncryptionInTransitCertRotateRequest struct {
	ctx                    context.Context
	ApiService             *UniverseAPIService
	cUUID                  string
	uniUUID                string
	universeCertRotateSpec *UniverseCertRotateSpec
}

func (r UniverseAPIEncryptionInTransitCertRotateRequest) UniverseCertRotateSpec(universeCertRotateSpec UniverseCertRotateSpec) UniverseAPIEncryptionInTransitCertRotateRequest {
	r.universeCertRotateSpec = &universeCertRotateSpec
	return r
}

func (r UniverseAPIEncryptionInTransitCertRotateRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.EncryptionInTransitCertRotateExecute(r)
}

/*
EncryptionInTransitCertRotate Rotate TLS Certs

Rotate the certs used for encryption in transit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIEncryptionInTransitCertRotateRequest
*/
func (a *UniverseAPIService) EncryptionInTransitCertRotate(ctx context.Context, cUUID string, uniUUID string) UniverseAPIEncryptionInTransitCertRotateRequest {
	return UniverseAPIEncryptionInTransitCertRotateRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) EncryptionInTransitCertRotateExecute(r UniverseAPIEncryptionInTransitCertRotateRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.EncryptionInTransitCertRotate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/encryption/in-transit/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeCertRotateSpec == nil {
		return localVarReturnValue, nil, reportError("universeCertRotateSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeCertRotateSpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIEncryptionInTransitToggleRequest struct {
	ctx                             context.Context
	ApiService                      *UniverseAPIService
	cUUID                           string
	uniUUID                         string
	universeEditEncryptionInTransit *UniverseEditEncryptionInTransit
}

func (r UniverseAPIEncryptionInTransitToggleRequest) UniverseEditEncryptionInTransit(universeEditEncryptionInTransit UniverseEditEncryptionInTransit) UniverseAPIEncryptionInTransitToggleRequest {
	r.universeEditEncryptionInTransit = &universeEditEncryptionInTransit
	return r
}

func (r UniverseAPIEncryptionInTransitToggleRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.EncryptionInTransitToggleExecute(r)
}

/*
EncryptionInTransitToggle Enable or disable encryption in transit

Enable or disable encryption in transit. Encryption in transit can be both node to node or
node to client.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIEncryptionInTransitToggleRequest
*/
func (a *UniverseAPIService) EncryptionInTransitToggle(ctx context.Context, cUUID string, uniUUID string) UniverseAPIEncryptionInTransitToggleRequest {
	return UniverseAPIEncryptionInTransitToggleRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) EncryptionInTransitToggleExecute(r UniverseAPIEncryptionInTransitToggleRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.EncryptionInTransitToggle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/encryption/in-transit"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.universeEditEncryptionInTransit == nil {
		return localVarReturnValue, nil, reportError("universeEditEncryptionInTransit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeEditEncryptionInTransit
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIFinalizeSoftwareUpgradeRequest struct {
	ctx                             context.Context
	ApiService                      *UniverseAPIService
	cUUID                           string
	uniUUID                         string
	universeSoftwareUpgradeFinalize *UniverseSoftwareUpgradeFinalize
}

func (r UniverseAPIFinalizeSoftwareUpgradeRequest) UniverseSoftwareUpgradeFinalize(universeSoftwareUpgradeFinalize UniverseSoftwareUpgradeFinalize) UniverseAPIFinalizeSoftwareUpgradeRequest {
	r.universeSoftwareUpgradeFinalize = &universeSoftwareUpgradeFinalize
	return r
}

func (r UniverseAPIFinalizeSoftwareUpgradeRequest) Execute() (*YBATask, *http.Response, error) {
	return r.ApiService.FinalizeSoftwareUpgradeExecute(r)
}

/*
FinalizeSoftwareUpgrade Finalize the Upgrade YugabyteDB

Queues a task to perform finalize of a YugabyteDB Software upgrade.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIFinalizeSoftwareUpgradeRequest
*/
func (a *UniverseAPIService) FinalizeSoftwareUpgrade(ctx context.Context, cUUID string, uniUUID string) UniverseAPIFinalizeSoftwareUpgradeRequest {
	return UniverseAPIFinalizeSoftwareUpgradeRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return YBATask
func (a *UniverseAPIService) FinalizeSoftwareUpgradeExecute(r UniverseAPIFinalizeSoftwareUpgradeRequest) (*YBATask, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *YBATask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.FinalizeSoftwareUpgrade")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/upgrade/software/finalize"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.universeSoftwareUpgradeFinalize
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest struct {
	ctx        context.Context
	ApiService *UniverseAPIService
	cUUID      string
	uniUUID    string
}

func (r UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest) Execute() (*UniverseSoftwareUpgradeFinalizeInfo, *http.Response, error) {
	return r.ApiService.GetFinalizeSoftwareUpgradeInfoExecute(r)
}

/*
GetFinalizeSoftwareUpgradeInfo Get finalize information on the YugabyteDB upgrade

Get finalize info of a YugabyteDB Software upgrade.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest
*/
func (a *UniverseAPIService) GetFinalizeSoftwareUpgradeInfo(ctx context.Context, cUUID string, uniUUID string) UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest {
	return UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return UniverseSoftwareUpgradeFinalizeInfo
func (a *UniverseAPIService) GetFinalizeSoftwareUpgradeInfoExecute(r UniverseAPIGetFinalizeSoftwareUpgradeInfoRequest) (*UniverseSoftwareUpgradeFinalizeInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UniverseSoftwareUpgradeFinalizeInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.GetFinalizeSoftwareUpgradeInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}/upgrade/software/finalize"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIGetUniverseRequest struct {
	ctx        context.Context
	ApiService *UniverseAPIService
	cUUID      string
	uniUUID    string
}

func (r UniverseAPIGetUniverseRequest) Execute() (*Universe, *http.Response, error) {
	return r.ApiService.GetUniverseExecute(r)
}

/*
GetUniverse Get a YugabyteDB Universe

Get details of a single YugabyteDB Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@param uniUUID Universe UUID
	@return UniverseAPIGetUniverseRequest
*/
func (a *UniverseAPIService) GetUniverse(ctx context.Context, cUUID string, uniUUID string) UniverseAPIGetUniverseRequest {
	return UniverseAPIGetUniverseRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
		uniUUID:    uniUUID,
	}
}

// Execute executes the request
//
//	@return Universe
func (a *UniverseAPIService) GetUniverseExecute(r UniverseAPIGetUniverseRequest) (*Universe, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Universe
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UniverseAPIService.GetUniverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/universes/{uniUUID}"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uniUUID"+"}", url.PathEscape(parameterValueToString(r.uniUUID, "uniUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UniverseAPIGetUniverseResourcesRequest struct {
	ctx                context.Context
	ApiService         *UniverseAPIService
	cUUID              string
	universeCreateSpec *UniverseCreateSpec
}

func (r UniverseAPIGetUniverseResourcesRequest) UniverseCreateSpec(universeCreateSpec UniverseCreateSpec) UniverseAPIGetUniverseResourcesRequest {
	r.universeCreateSpec = &universeCreateSpec
	return r
}

func (r UniverseAPIGetUniverseResourcesRequest) Execute() (*UniverseResourceDetails, *http.Response, error) {
	return r.ApiService.GetUniverseResourcesExecute(r)
}

/*
GetUniverseResources Get resource utilisation of a YugabyteDB Universe

Fetches an estimate of pricing and cpu/memory/storage resource utilisation for the Universe. This is meant to be used before creating the Universe.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@return UniverseAPIGetUniverseResourcesRequest
*/
func (a *UniverseAPIService) GetUniverseResources(ctx context.Context, cUUID string) UniverseAPIGetUniverseResourcesRequest {
	return UniverseAPIGetUniverseResourcesRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
	}
}

// Execute executes the request
//
//	@return UniverseResourceDetails
[...]
