/*
YugabyteDB Anywhere V2 APIs

An improved set of APIs for managing YugabyteDB Anywhere

API version: v2
Contact: support@yugabyte.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v2

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CustomerConfigurationAPIService CustomerConfigurationAPI service
type CustomerConfigurationAPIService service

type ApiPageListCustomerConfigsRequest struct {
	ctx                          context.Context
	ApiService                   *CustomerConfigurationAPIService
	cUUID                        string
	customerConfigPagedQuerySpec *CustomerConfigPagedQuerySpec
}

func (r ApiPageListCustomerConfigsRequest) CustomerConfigPagedQuerySpec(customerConfigPagedQuerySpec CustomerConfigPagedQuerySpec) ApiPageListCustomerConfigsRequest {
	r.customerConfigPagedQuerySpec = &customerConfigPagedQuerySpec
	return r
}

func (r ApiPageListCustomerConfigsRequest) Execute() (*CustomerConfigPagedResp, *http.Response, error) {
	return r.ApiService.PageListCustomerConfigsExecute(r)
}

/*
PageListCustomerConfigs List customer configurations (paged)

Returns customer configurations for the specified customer with pagination.
WARNING: This is a preview API that could change.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param cUUID Customer UUID
	@return ApiPageListCustomerConfigsRequest
*/
func (a *CustomerConfigurationAPIService) PageListCustomerConfigs(ctx context.Context, cUUID string) ApiPageListCustomerConfigsRequest {
	return ApiPageListCustomerConfigsRequest{
		ApiService: a,
		ctx:        ctx,
		cUUID:      cUUID,
	}
}

// Execute executes the request
//
//	@return CustomerConfigPagedResp
func (a *CustomerConfigurationAPIService) PageListCustomerConfigsExecute(r ApiPageListCustomerConfigsRequest) (*CustomerConfigPagedResp, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CustomerConfigPagedResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerConfigurationAPIService.PageListCustomerConfigs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/customers/{cUUID}/customer-configs/page"
	localVarPath = strings.Replace(localVarPath, "{"+"cUUID"+"}", url.PathEscape(parameterValueToString(r.cUUID, "cUUID")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerConfigPagedQuerySpec == nil {
		return localVarReturnValue, nil, reportError("customerConfigPagedQuerySpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerConfigPagedQuerySpec
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-AUTH-YW-API-TOKEN"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
